body{

    background-color: rgb(78, 123, 123);

}
    h1{
    text-align: center;
    color: blueviolet;
}


p{ 
    text-align: center;
    margin-right: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
input[type=text],[type=number],[type=date],[type=submit] {
       text-align: center;
        width: 30%;
        padding: 10px 16px;
        margin: 7px 3px;
        box-sizing: border-box;  
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
